<a href="https://colab.research.google.com/github/Aravin423/ad_classes/blob/main/AD_28.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

data = {
    "customer_id": [1, 2, 3, 4, 5],
    "gender": ["M", "F", "M", "F", "M"],
    "city": ["New York", "Los Angeles", "Chicago", "Houston", "Miami"],
    "fruits": ["apple", "banana", "orange", "apple", "banana"]
}

df = pd.DataFrame(data)

print("Original DataFrame:")
print(df)

one_hot_encoder = OneHotEncoder(sparse_output=False, handle_unknown='ignore')

columns_to_encode = ["gender", "city", "fruits"]

encoded_data = one_hot_encoder.fit_transform(df[columns_to_encode])

encoded_df = pd.DataFrame(encoded_data, columns=one_hot_encoder.get_feature_names_out(columns_to_encode))

df = pd.concat([df, encoded_df], axis=1)

df = df.drop(columns=columns_to_encode)

print("\nDataFrame after One-Hot Encoding:")
print(df)

df = pd.DataFrame(data)

print("Original DataFrame:")
print(df)

one_hot_encoder = OneHotEncoder(sparse_output=False)

columns_to_encode = ["gender", "city", "fruits"]

encoded_data = one_hot_encoder.fit_transform(df[columns_to_encode])

encoded_df = pd.DataFrame(encoded_data, columns=one_hot_encoder.get_feature_names_out(columns_to_encode))

df = pd.concat([df, encoded_df], axis=1)

df = df.drop(columns=columns_to_encode)

print("\nDataFrame after One-Hot Encoding:")
print(df)

Original DataFrame:
   customer_id gender         city  fruits
0            1      M     New York   apple
1            2      F  Los Angeles  banana
2            3      M      Chicago  orange
3            4      F      Houston   apple
4            5      M        Miami  banana

DataFrame after One-Hot Encoding:
   customer_id  gender_F  gender_M  city_Chicago  city_Houston  \
0            1       0.0       1.0           0.0           0.0
1            2       1.0       0.0           0.0           0.0
2            3       0.0       1.0           1.0           0.0
3            4       1.0       0.0           0.0           1.0
4            5       0.0       1.0           0.0           0.0

   city_Los Angeles  city_Miami  city_New York  fruits_apple  fruits_banana  \
0               0.0         0.0            1.0           1.0            0.0
1               1.0         0.0            0.0           0.0            1.0
2               0.0         0.0            0.0           0.0            0.0
3               0.0         0.0            0.0           1.0            0.0
4               0.0         1.0            0.0           0.0            1.0

   fruits_orange
0            0.0
1            0.0
2            1.0
3            0.0
4            0.0
Original DataFrame:
   customer_id gender         city  fruits
0            1      M     New York   apple
1            2      F  Los Angeles  banana
2            3      M      Chicago  orange
3            4      F      Houston   apple
4            5      M        Miami  banana

DataFrame after One-Hot Encoding:
   customer_id  gender_F  gender_M  city_Chicago  city_Houston  \
0            1       0.0       1.0           0.0           0.0
1            2       1.0       0.0           0.0           0.0
2            3       0.0       1.0           1.0           0.0
3            4       1.0       0.0           0.0           1.0
4            5       0.0       1.0           0.0           0.0

   city_Los Angeles  city_Miami  city_New York  fruits_apple  fruits_banana  \
0               0.0         0.0            1.0           1.0            0.0
1               1.0         0.0            0.0           0.0            1.0
2               0.0         0.0            0.0           0.0            0.0
3               0.0         0.0            0.0           1.0            0.0
4               0.0         1.0            0.0           0.0            1.0

   fruits_orange
0            0.0
1            0.0
2            1.0
3            0.0
4            0.0